{% extends '../layout.html' %}
{% load static %}

{% block customcss %}
    <link rel="stylesheet" type="text/css" href="{% static "/css/common.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "/css/details.css" %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.18.1/styles/monokai.min.css">
    <style>
        .markdown-body {
            box-sizing: border-box;
            min-width: 200px;
            max-width: 980px;
            margin: 0 auto;
            padding: 45px;
        }
    
        @media (max-width: 767px) {
            .markdown-body {
                padding: 15px;
            }
        }
    </style>
{% endblock %}

{% block body %}

<section class="markdown-body">
    <section id="descriptive">
        <div class="center-children">
            <h1>{{ title }}</h1>
        </div>
        <div class="flexy">
            <p><a href="/">Home</a></p>
            <p>Author - {{ author }}</p>
            <p>Date: {{ pub_date }}</p>
            <p>Last edit: {{ last_edited_date }}</p>
        </div>
    </section>
    <section id="content">
        {{ content|safe }}
    </section>
    <footer>
        <div class="center-children">
            <h5>Made possible by:</h5>
        </div>
        <div class="flexy">
            <p><a href="https://www.python.org/">Python</a></p>
            <p><a href="https://www.djangoproject.com/">The Django Framework</a></p>
            <p><a href="https://mariadb.org/">MariaDb</a></p>
            <p><a href="https://www.docker.com">Docker (Django & MariaDb container)</a></p>
            <p><a href="https://www.nginx.com/">Nginx</a></p>
        </div>
    </footer>
</section>
{% endblock %}

{% block customjs %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.18.1/highlight.min.js"></script>
<script>hljs.initHighlightingOnLoad();</script>
<script type="text/javascript">
    console.log("This application makes use of Markdown to quickly write the blog posts :D.")
</script>
{% endblock %}