{% extends '../layout.html' %}
{% load static %}

{% block customcss %}
    <link rel="stylesheet" type="text/css" href="{% static "/css/common.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "/css/details.css" %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.18.1/styles/monokai.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.18.1/highlight.min.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
    <style>
        .markdown-body {
            box-sizing: border-box;
            min-width: 200px;
            max-width: 980px;
            margin: 0 auto;
            padding: 45px;
        }
    
        @media (max-width: 767px) {
            .markdown-body {
                padding: 15px;
            }
        }
    </style>
{% endblock %}

{% block body %}

<section class="markdown-body">
    <section id="descriptive">
        <div class="center-children">
            <h1>{{ title }}</h1>
        </div>
        <div class="flexy">
            <p>Written by {{ author }}</p>
            <p>Published on {{ pub_date }}</p>
            <p>Last edited on {{ last_edited_date }}</p>
        </div>
    </section>
    <section id="content">
        {{ content|safe }}
    </section>
    <footer>
        <div class="center-children">
            <h5>Made possible by:</h5>
        </div>
        <div class="flexy">
            <p>Python</p>
            <p>The Django Framework</p>
            <p>MariaDb</p>
            <p>Docker (Django & MariaDb container)</p>
            <p>NGinx</p>
        </div>
    </footer>
</section>
{% endblock %}

{% block customjs %}
<script type="text/javascript">
    console.log("This application makes use of Markdown to quickly write the blog posts :D.")
</script>
{% endblock %}