{% extends '../layout.html' %}
{% load static %}

{% block customcss %}
    <!--<link rel="stylesheet" type="text/css" href="{% static "/css/index.css" %}">-->
{% endblock %}

{% block body %}
<div class="container">
    {% if latest_blog_posts_list %}
    <ul>
    {% for blogpost in latest_blog_posts_list %}
        <li><a href="/blog/{{ blogpost.id }}/">{{ blogpost.title }}</a></li>
    {% endfor %}
    </ul>
    {% else %}
    <p>No blog posts available.</p>
    {% endif %}
</div>
{% endblock %}

{% block customjs %}
{% endblock %}