body {
    background-color: hsl(210, 25%, 8%);
}

section.markdown-body {
    margin-top: 1rem;
}

div.flexy {
    display: flex;
    justify-content: space-around;
}

a {
    text-decoration: none !important; 
}

.center-children {
    text-align: center;
}

.jumbotron {
    background-color: #14191f;
    color: #c5c5c5;
}

hr {
    border-top: 1px solid white;;
}

div.card-body {
    margin-bottom: 1rem;
}