#descriptive {
    background-color: #14191f;
    padding-right: 2rem;
    padding-left: 2rem;
}

#descriptive h1,
#descriptive h2,
#descriptive p,
#descriptive a {
    color: #c5c5c5;
}

#descriptive a {
    text-decoration: none;
}

#descriptive a:hover {
    color: white;
}


#content {
    background-color: #cccccc;
    padding-top: 1rem;
    padding-right: 2rem;
    padding-left: 2rem;
    padding-bottom: 1rem;
    margin-bottom: 2rem;
}

.mdimg {
    margin: auto;
    max-width: 100%;
    max-height: 100%;
}

footer {
    padding-top: 1rem;
    background-color: #14191f;
}

footer h5,
footer p,
footer a {
    color: #c5c5c5;
}

